{% extends 'base.html' %}
{% block ha %}
{% endblock ha %}
{% block content%}
    <script src="{{ url_for('static',filename='ckeditor/ckeditor.js') }}"></script>
{% if current_user.is_authenticated %}
    <form action="" method="post" class="form" >
            {{ form.hidden_tag() }}
    <fieldset>
        <!-- Text input-->
        <div class="form-group" style="padding-top: 30px;">
            <div class="col-md-1 col-md-offset-1 " style="text-align: center ; font-size:16px">题 目：</div>
            <div class="input-group col-md-9 ">
                {{form.title(placeholder="Title", id="title", class="form-control", required="" )}}
            </div>
        </div>

        <div class="form-group">
            <div class="input-group col-md-10 col-md-offset-1 " >
                {{form.body(id="content",class="ckeditor ",row="100")}}
                <script type="text/javascript">
                   CKEDITOR.replace(
                      "content", {
                         filebrowserUploadUrl: '/ckupload/'
                    }
                    );
                </script>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1">
                {{ form.submit(id="submit", class="btn btn-primary") }}
            </div>
        </div>
    </fieldset>

    </form>

{% else %}
    <div class="container-fluid bg-1 text-center" style=" padding-top: 70px;padding-bottom: 70px;" >
        <img src="{{ url_for('static', filename='images/warning.png')}}" class="img-circle center-block" width="350" height="350">
        <a href="auth/login">你没有权限！点击登陆</a>
    </div>

    {% endif %}
{% endblock content%}

