{% extends "base.html" %}

{% block content %}

<body>
    <div id="content">
         <!--left-->
         <div class="left" id="c_left">
           <div class="s_tuijian">
           <h2>文章<span>推荐</span></h2>
           </div>
             {% for post in posts %}
          <div class="content_text">
           <!--wz-->
           <div class="wz">
            <h3><a href="{{post.id}}" >{{post.title}}</a></h3>
             <dl>
               <dt><img src="{{url_for('static',filename='images/welcome.jpg')}}" width="200"  height="123" alt=""></dt>
               <dd>
                 <div class="dd_text_1">{{post.body | safe}}</div>
               <p class="dd_text_2">
               <span class="left author">GQB1226</span><span class="left sj">时间:{{post.timestamp}}</span>
               </span> <span class="left fl">分类:<a href="#" title="学无止境">学无止境</a></span><span class="left yd"><a href="{{post.id}}" title="阅读全文">阅读全文</a>
               </span>
                <div class="clear"></div>
               </p>
               </dd>
               <div class="clear"></div>
             </dl>
            </div>
           <!--wz end-->
           </div>
             {% endfor %}
         </div>
         <!--left end-->
         <!--right-->
         <div class="right" id="c_right">
          <div class="s_about">
          <h2>关于博主</h2>
           <img src="{{url_for('static',filename='images/gqb.jpg')}}" width="230" height="230" alt="博主"/>
           <p>博主：GQB1226</p>
           <p>职业：研究僧</p>
           <p>简介：</p>
           <p>
           <a href="#" title="联系博主"><span class="left b_1"></span></a><a href="#" title="加入QQ群，一起学习！"><span class="left b_2"></span></a>
           <div class="clear"></div>
           </p>
          </div>
          <!--栏目分类-->
           <div class="lanmubox">
              <div class="hd">
               <ul><li>精心推荐</li><li>最新文章</li><li class="hd_3">随机文章</li></ul>
              </div>
              <div class="bd">
                <ul>
					<li><a href="#" title="建设中（-）">建设中（-）</a></li>
				</ul>
                <!-- <ul>
					<li><a href="#" title="网站项目实战开发（-）">网站项目实战开发（-）</a></li>
					<li><a href="#" title="关于响应式布局">关于响应式布局</a></li>
					<li><a href="#" title="如何创建个人博客网站">如何创建个人博客网站</a></li>
					<li><a href="#" title="网站项目实战开发（二）">网站项目实战开发（二）</a></li>
					<li><a href="#" title="为什么新站前期排名老是浮动？(转)">为什么新站前期排名老是浮动？(转)</a></li>
				</ul>
                 <ul>
					<li><a href="#" title="网站项目实战开发（-）">网站项目实战开发（-）</a></li>
					<li><a href="#" title="关于响应式布局">关于响应式布局</a></li>
					<li><a href="#" title="如何创建个人博客网站">如何创建个人博客网站</a></li>
					<li><a href="#" title="网站项目实战开发（二）">网站项目实战开发（二）</a></li>
					<li><a href="#" title="为什么新站前期排名老是浮动？(转)">为什么新站前期排名老是浮动？(转)</a></li>
				</ul>
-->
              </div>
           </div>
           <!--end-->
           <div class="link">
            <h2>友情链接</h2>
               <p>虚位以待</p>
            <p><a href="http://www.duanliang920.com">段亮个人博客</a></p>
           </div>
         </div>
         <!--right end-->
         <div class="clear"></div>
    </div>
    <!--content end-->
    <!--footer start-->
    <div id="footer">
     <p>Copyright © 1991 - 2017 GQB1226. All Rights Reserved </p>
    </div>
    <!--footer end-->
    <script type="text/javascript">jQuery(".lanmubox").slide({easing:"easeOutBounce",delayTime:400});</script>
    <script  type="text/javascript" src="js/nav.js"></script>
</body>
{% endblock %}
<!--</html>
-->