{% extends "base.html" %}

{% block content %}

    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
    </div>

    <div class="col-sm-9">
        {% for post in posts %}
            <h4>
                <small>RECENT POSTS</small>
            </h4>
            <hr>
            <h2><a href="{{ post.id }}">{{ post.title }} </a></h2>
            <h5><span class="glyphicon glyphicon-time"></span> Post by GQB1226,{{ post.timestamp }},Comments:<span class="badge">{{ post.comments }}</span> </h5>
            <h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5><br>
            <p>{{ post.body | safe }}</p>
            <br><br>
        {% endfor %}
    </div>



{% endblock content %}


