{% extends "base.html" %}

{% block content %}

<body>
    <div id="content">
         <!--left-->
         <div class="center" id="c_left">
           <div  style="font-size: 30px" >
           <h2>{{post.title}}</h2>
           </div>
          <div class="content_text">
           <!--wz-->
           <div class="wz">
             <dl>
               <dd>
                   <p class="dd_text_2">
               <span class="left author">GQB1226</span><span class="left sj">时间:{{post.timestamp}}</span>
               </span> <span class="left fl">分类:<a href="#" title="学无止境">学无止境</a></span><span class="left yd"><a href="/edit/{{post.id}}" title="阅读全文">编辑</a>
               </span>
                <div class="clear"></div>
               </p>
                   <dd>
                 <dd>
                 <p >{{post.body | safe}}</p>

               </dd>
               <div class="clear"></div>
             </dl>
            </div>
           <!--wz end-->
           </div>
         </div>

</div>
    </body>
{% endblock%}